<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${researcher.getName()+'的期刊论文'}"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <link href="../../adminres/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../adminres/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../../adminres/assets/styles.css" rel="stylesheet" media="screen">
    <link href="../../adminres/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../adminres/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <!--    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <script src="../../adminres/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="../index">后台管理</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <span th:text="${user.getName()}">管理员</span>
                            <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="./changePsw">修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../logout">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a href="../index">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">学院科研 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="menu1">
                            <li>
                                <a href="../research/overview">数据概览
                                    <!--                                    <i class="icon-arrow-right"></i>-->
                                </a>
                            </li>
                            <li>
                                <a href="../research/researcher">科研人员</a>
                            </li>
                            <li>
                                <a href="../research/reporterModel">评价模型</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="../research/article">期刊论文</a>
                            </li>
                            <li>
                                <a href="../research/meetingPaper">会议论文</a>
                            </li>
                            <li>
                                <a href="../research/project">项目数据</a>
                            </li>
                            <li>
                                <a href="../research/patent">发明专利</a>
                            </li>
                            <li>
                                <a href="../research/journal">期刊数据</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">招聘相关 <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="../recruit/stations">岗位管理</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../recruit/resume">简历处理</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../recruit/interview">面试安排</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../recruit/config">招聘配置</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">工具 <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" target="_blank" href="../tools/visitor">抓取论文数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/article">抓取论文数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/journal">抓取期刊数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/project">抓取项目数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/reporter">excel评价</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../tool/ipPoolConfig">IP池管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">网站管理 <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="../webapp/overview">网站情况</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/user">用户列表</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/config">网站设置</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/logs">日志</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                <li class="active">
                    <a th:href="'./userDetail?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 基本信息</a>
                </li>
                <li>
                    <a th:href="'./user_article?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 期刊论文</a>
                </li>
                <li>
                    <a th:href="'./user_meeting?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 会议论文</a>
                </li>
                <li>
                    <a th:href="'./user_project?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 主持项目</a>
                </li>
                <li>
                    <a th:href="'./user_patent?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 发明专利</a>
                </li>
                <li>
                    <a th:href="'./user_article_wait?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 待审核期刊论文</a>
                </li>
                <li>
                    <a th:href="'./user_project_wait?id='+${researcher.getId()}"><i class="icon-chevron-right"></i> 待审核项目</a>
                </li>
            </ul>
        </div>

        <!--/span-->
        <div class="span10" id="content">
            <div class="row-fluid">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="breadcrumb">
                            <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <li>
                                <a href="../index">首页</a> <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="#">数据</a> <span class="divider">/</span>
                            </li>
                            <li class="active" th:text="${researcher.getName()}+'的期刊论文'"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid section">

                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">基本资料</div>
                        <div class="pull-right">
                            <span class="badge badge-warning">
                                    <a th:href="'../recruit/getReporterExcel?uid='+${researcher.getId()}">下载excel</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <h4 th:text="${researcher.getName()}"></h4><small th:text="${researcher.getMajor()+' '+researcher.getEducation()}"></small>
                        <h6 th:text="${researcher.getEmail()}"></h6>
                        JCR1/2收录文章数:<span class="badge badge-info" th:text="${analysis.getReporter().getJcr()}"></span><br>
                        SCI被引次数:<span class="badge badge-info" th:text="${analysis.getReporter().getSciCitation()}"></span><br>
                        综合分数:<span class="badge badge-info" th:text="${analysis.getReporter().getScore()}"></span><br>
                        <span class="badge badge-success" th:style="${(analysis.getReporter().getTitle() != null && !analysis.getReporter().getTitle().equals('无')) ? '': 'display:none;'}" th:text="${analysis.getReporter().getTitle() != null ? analysis.getReporter().getTitle():''}"></span>
                        <span class="badge badge-success" th:style="${analysis.getReporter().getEsi() > 0 ? '': 'display:none;'}" th:text="${'ESI论文'+analysis.getReporter().getEsi()+'篇'}"></span>
                        <span class="badge badge-success" th:text="'主持项目金额:'+${analysis.getReporter().getFunds()}+'万元'"></span>
                        <span class="badge badge-success" th:text="'定岗推荐：'+${analysis.getReporter().getPost()}"></span>
                    </div>
                </div>
            </div>


            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">统计</div>
                    <div class="pull-right">
                    </div>
                </div>
                <div class="block-content collapse in">
                    <div class="span3">
                        <div class="chart" data-percent="100" th:text="${analysis.getArticle()}"></div>
                        <div class="chart-bottom-heading"><span class="label label-info">期刊论文</span>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="chart" data-percent="100" th:text="${analysis.getPaper()}"></div>
                        <div class="chart-bottom-heading"><span class="label label-info">会议论文</span>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="chart" data-percent="100" th:text="${analysis.getPatent()}">83%</div>
                        <div class="chart-bottom-heading"><span class="label label-info">发明专利</span>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="chart" data-percent="100" th:text="${analysis.getProject()}">13%</div>
                        <div class="chart-bottom-heading"><span class="label label-info">主持项目</span>

                        </div>
                    </div>
                </div>
            </div>

            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">期刊论文统计</div>
                    <!--                        <div class="pull-right"><span class="badge badge-warning">View More</span>-->
                    <!--                        </div>-->
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <div id="hero-graph" style="height: 230px;"></div>
                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
        </div>
    </div>
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="footer-link">
                        <a href="http://www.buct.edu.cn">BUCT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="http://jwgl.buct.edu.cn/">教务管理系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="http://tree.buct.edu.cn/">校园网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="https://www.zizhu.buct.edu.cn/1221/list.htm">北化资助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="https://w.buct.edu.cn">BUCT-VPN</a>
                    </div>
                    <div class="">
                        <p class="mb-0">Copyright &copy; 2020.Company name All rights reserved.
                            <a target="_blank" href="#">基于网络爬虫的高校学院级科研评价实践设计</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->
</div>
<!--/.fluid-container-->
<script src="../../adminres/vendors/jquery-1.9.1.min.js"></script>
<script src="../../adminres/bootstrap/js/bootstrap.min.js"></script>
<script src="../../adminres/assets/scripts.js"></script>
<script src="../../adminres/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../adminres/assets/DT_bootstrap.js"></script>
<script src="../../adminres/vendors/morris/morris.min.js"></script>
<script src="../../adminres/vendors/jquery.knob.js"></script>
<script src="../../adminres/vendors/raphael-min.js"></script>
<link rel="stylesheet" href="../../adminres/vendors/morris/morris.css">

<script src="../../adminres/vendors/flot/jquery.flot.js"></script>
<script src="../../adminres/vendors/flot/jquery.flot.categories.js"></script>
<script src="../../adminres/vendors/flot/jquery.flot.pie.js"></script>
<script src="../../adminres/vendors/flot/jquery.flot.time.js"></script>
<script src="../../adminres/vendors/flot/jquery.flot.stack.js"></script>
<script src="../../adminres/vendors/flot/jquery.flot.resize.js"></script>
<script>
    $(function() {

    });
</script>
<script src="../../adminres/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
<script th:inline="javascript">
    $(function() {
        // Easy pie charts
        $('.chart').easyPieChart({animate: 1000});
    });
    var tax_data = [];
    var message = [[${analysis.analysisYears}]];
    for(var i = 0; i < message.length; i++){
        var obj = {"period": message[i]['year']+'-01', "num":message[i]['number'], "citation":message[i]['citation'], "esi":message[i]['esi'], "top":message[i]['top'], "jcr12":message[i]['jcr_12']};
        tax_data[i] = obj;
    }
    console.log(tax_data);
    Morris.Line({
        element: 'hero-graph',
        data: tax_data,
        xkey: 'period',
        xLabels: "month",
        ykeys: ['num', 'citation', 'esi', 'top', 'jcr12'],
        labels: ['article', 'Citation', 'ESI', 'TOP', 'JCR-1/2']
    });
</script>
</body>
</html>