<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>模板</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <link href="../../adminres/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../adminres/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../../adminres/assets/styles.css" rel="stylesheet" media="screen">
    <link href="../../adminres/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../adminres/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <!--    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <script src="../../adminres/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <style>
        .header {
            background-color: #ffe4c4;
        }

        .main {
            padding-bottom: 50px;
        }

        /* main的padding-bottom值要等于或大于footer的height值 */
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
        }
    </style>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="../index">后台管理</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <span th:text="${user.getName()}">管理员</span>
                            <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="./changePsw">修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../logout">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <a href="../index">首页</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">学院科研 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="menu1">
                            <li>
                                <a href="../research/overview">数据概览
                                    <!--                                    <i class="icon-arrow-right"></i>-->
                                </a>
                            </li>
                            <li>
                                <a href="../research/researcher">科研人员</a>
                            </li>
                            <li>
                                <a href="../research/reporterModel">评价模型</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="../research/article">期刊论文</a>
                            </li>
                            <li>
                                <a href="../research/meetingPaper">会议论文</a>
                            </li>
                            <li>
                                <a href="../research/project">项目数据</a>
                            </li>
                            <li>
                                <a href="../research/patent">发明专利</a>
                            </li>
                            <li>
                                <a href="../research/journal">期刊数据</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">招聘相关 <i
                                class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="../recruit/stations">岗位管理</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../recruit/resume">简历处理</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../recruit/interview">面试安排</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../recruit/config">招聘配置</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">工具 <i
                                class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" target="_blank" href="../tools/visitor">抓取论文数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/article">抓取论文数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/journal">抓取期刊数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/project">抓取项目数据</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../tool/reporter">excel评价</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="../tool/ipPoolConfig">IP池管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">网站管理 <i
                                class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="../webapp/overview">网站情况</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/user">用户列表</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/config">网站设置</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="../webapp/logs">日志</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <main>
        <div class="row-fluid">
            <div class="span2" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    <li>
                        <a href="./articleData"><i class="icon-chevron-right"></i> 数据统计</a>
                    </li>
                    <li th:class="${flag.equals('正常') ? 'active' : ''}">
                        <a href="./article?flag=正常"><i class="icon-chevron-right"></i> 正常</a>
                    </li>
                    <li th:class="${flag.equals('申请') ? 'active' : ''}">
                        <a href="./article?flag=申请"><i class="icon-chevron-right"></i> 需核验</a>
                    </li>
                    <li th:class="${flag.equals('待认领') ? 'active' : ''}">
                        <a href="./article?flag=待认领"><i class="icon-chevron-right"></i> 待认领</a>
                    </li>
                    <li class="active">
                        <a href="./addArticle"><i class="icon-chevron-right"></i> 添加期刊论文</a>
                    </li>
                </ul>
            </div>

            <!--/span-->
            <div class="span10" id="content">
                <div class="row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="breadcrumb">
                                <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar"
                                                                             rel='tooltip'>&nbsp;</a></i>
                                <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#'
                                                                                                    title="Show Sidebar"
                                                                                                    rel='tooltip'>&nbsp;</a></i>
                                <li>
                                    <a href="../index">首页</a> <span class="divider">/</span>
                                </li>
                                <li class="active">
                                    <a href="#">添加期刊论文</a> <span class="divider"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left" text="添加期刊论文"></div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="container">
                                        <div class="col-md-6 column">
                                            <div class="control-group">
                                                <label class="control-label" for="articleName">期刊论文名称</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" id="articleName" type="text"
                                                           th:value="${title != null ? title : ''}">
                                                    <button id="btn_search" class="btn btn-primary" onclick="searchArticle2(1)">搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column">
                                            <div class="control-group">
                                                <label class="control-label" for="test">搜索结果
                                                    <a th:onclick="'saveArticle(\''+${article.getName()}+'\')'"
                                                       th:style="${article == null || article.getName() == null || article.getName().equals('') ? 'display:none;': ''}"
                                                       class="btn btn-primary btn-small">添加到数据库</a>
                                                </label>
                                                <div class="controls" id="test">
                                                    <h4 th:text="'论文名称：'+${article.getName()}"></h4>
                                                    <h5 th:text="'发表期刊：'+${article.getJournal().getName()}"></h5>
                                                    <label th:text="'发表时间：'+${article.getYear()}"></label>
                                                    <p th:text="'作者：'+${article.getAuthor()}"></p>
                                                    <p th:text="'通讯作者：'+${article.getCAuthor()}"></p>
                                                    <span class="badge badge-success"
                                                          th:text="'被引次数：'+${article.getCitation()}"></span>
                                                    <span class="badge badge-success" th:style="${article.getESI() ? '' : 'display:none;'}"
                                                          >ESI论文</span>
                                                    <span class="badge badge-success"
                                                          th:text="'期刊分区：'+${article.getJournal().getSection()}"></span>
                                                    <span class="badge badge-success"
                                                          th:text="'期刊IF：'+${article.getJournal().getIF()}"></span>
                                                    <span class="badge badge-success" th:style="${article.getJournal().getTop() ? '' : 'display:none;'}"
                                                          >Top期刊</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
            </div>
        </div>
    </main>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="footer-link">
                        <a href="http://www.buct.edu.cn">BUCT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="http://jwgl.buct.edu.cn/">教务管理系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="http://tree.buct.edu.cn/">校园网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="https://www.zizhu.buct.edu.cn/1221/list.htm">北化资助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="https://w.buct.edu.cn">BUCT-VPN</a>
                    </div>
                    <div class="">
                        <p class="mb-0">Copyright &copy; 2020.Company name All rights reserved.
                            <a target="_blank" href="#">基于网络爬虫的高校学院级科研评价实践设计</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->
</div>
<!--/.fluid-container-->
<script src="../../adminres/vendors/jquery-1.9.1.min.js"></script>
<script src="../../adminres/bootstrap/js/bootstrap.min.js"></script>
<script src="../../adminres/assets/scripts.js"></script>
<script src="../../adminres/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../adminres/assets/DT_bootstrap.js"></script>
<script src="../../js/my/admin_science.js"></script>
<script>
    $(function () {

    });
</script>
<script src="../../adminres/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
<script>
    $(function () {
        // Easy pie charts
        $('.chart').easyPieChart({animate: 1000});
    });
</script>
</body>
</html>