<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查询期刊论文量化数据</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="../css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="../css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll scroll-active">
    <!-- Tagline STart -->
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <i class="mdi mdi-phone-classic"></i> +1 800 123 45 67
                </div>
                <div class="email">
                    <a href="#">
                        <i class="mdi mdi-email"></i> Support@mail.com
                    </a>
                </div>
            </div>
            <div class="float-right">
                <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                    <li>
                        <div hidden class="col-lg-4 col-md-5">
                            <div class="float-left position-relative notification-icon mr-2">
                                <i class="mdi mdi-bell-outline text-primary"></i>
                                <span class="badge badge-pill badge-danger">1</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="../user/information"><i class="mdi mdi-account mr-2"></i>
                            <span th:text="${user.getName()}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Tagline End -->

    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="../index" class="logo">
                <img src="../images/logo-light.jpg" alt="" class="logo-light" height="90" />
                <img src="../images/logo-dark.jpg" alt="" class="logo-dark" height="90" />
            </a>
        </div>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="../index">Home</a></li>
                <li class="has-submenu">
                    <a href="../jobs">Jobs</a>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Tools</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <!-- todo add -->
                        <li><a href="#">查期刊论文数据</a></li>
                        <li><a href="./admin">获取评价报告</a></li>
                        <li><a href="./awsl">学院某年期刊论文数据</a></li>
                        <li><a href="faq.html">Help</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">About</a>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header><!--end header-->
<!-- Navbar End -->

<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>

</section>
<!-- end home -->

<div class="container">
    <div class="home-form-position">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="home-registration-form job-list-reg-form bg-light shadow p-4 mb-3">
<!--                    <form class="registration-form">-->
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-list-alt"></i>
                                    <select id="select-category" class="demo-default">
                                        <option value="">选择类别</option>
                                        <option value="article">期刊论文数据</option>
                                        <option value="journal">期刊分区数据</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-location-arrow"></i>
                                    <input type="text" id="input_name" value="" class="form-control rounded registration-input-box" placeholder="Article or Journal title">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <input type="button" id="btn_search" name="send" class="submitBnt btn btn-primary btn-block" onclick="search()" value="Search">
                                </div>
                            </div>
                        </div>
<!--                    </form>-->
                    <div class="col-lg-12 mt-4 pt-2" hidden id="back_data">
                        <div class="job-list-box border rounded">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="company-logo-img">
                                            <img src="../images/featured-job/img-1.png" alt="" class="img-fluid mx-auto d-block">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h6 class="mb-2">
                                                <a href="" target="_blank" title="" text="" id="article_title" class="text-dark"></a>
                                            </h6>
                                            <p class="text-muted mb-0">
                                                <i class="mdi mdi-bank mr-2"></i>
                                                <a href="" target="_blank" id="journal_name" style="color: #000000 ;text-decoration : none"></a>
                                                <br>
                                                <i class="mdi mdi-bank mr-2"></i><span id="journal_section" ></span>
                                                <i class="mdi mdi-bank mr-2"></i> isTop:<span id="journal_top"></span>
                                                <i class="mdi mdi-bank mr-2"></i> IF:<span id="journal_IF"></span>
                                            </p>

                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i><span id="article_time"></span></p>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i><span id="article_author"></span></p>
                                                </li>

                                                <li class="list-inline-item mr-0">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i><span id="article_cauthor"></span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="job-list-button-sm text-right">
                                            <span class="badge badge-success" id="citation"></span>

                                            <div class="mt-3">
                                                <button href="#" class="btn btn-sm btn-primary badge-success" hidden id="isesi">ESI高被引</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- JOB LIST START -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="showJournals">

                    <!--<div class="col-lg-12 mt-4 pt-2" th:each="obj, Stat:${list}">
                        <div class="job-list-box border rounded">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="company-logo-img">
                                            <img src="../images/featured-job/img-1.png" alt="" class="img-fluid mx-auto d-block">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h6 class="mb-2"><a href="#" class="text-dark" th:text="${obj.getName()}">Web Designer, Graphic Designer, UI/UX Designer & Art</a></h6>
                                            <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i><span th:text="${obj.getAbbrTitle()}">Web Themes.pvt.Ltd</span></p>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i><span th:text="${obj.getISSN()}">Confederate Drive Potsdam, NY 13676</span></p>
                                                </li>

                                                <li class="list-inline-item">
&lt;!&ndash;                                                    <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>1 Minute ago</p>&ndash;&gt;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="job-list-button-sm text-right">
&lt;!&ndash;                                            <span class="badge badge-success">Full-Time</span>&ndash;&gt;

                                            <div class="mt-3">
                                                <a th:href="${obj.getUrl()}" class="btn btn-sm btn-primary">LetPub数据页</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- JOB LIST START -->

<hr>
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="footer-link">
                    <a href="http://www.buct.edu.cn">BUCT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="http://jwgl.buct.edu.cn/">教务管理系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="http://tree.buct.edu.cn/">校园网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.zizhu.buct.edu.cn/1221/list.htm">北化资助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://w.buct.edu.cn">BUCT-VPN</a>
                </div>
                <div class="">
                    <p class="mb-0">Copyright &copy; 2020.Company name All rights reserved.
                        <a target="_blank" href="#">基于网络爬虫的高校学院级科研评价实践设计</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="back-to-top rounded text-center" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

<!-- javascript -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/plugins.js"></script>

<!-- selectize js -->
<script src="../js/selectize.min.js"></script>

<script src="../js/jquery.nice-select.min.js"></script>

<script src="../js/app.js"></script>
<script src="../js/my/visit_tool.js"></script>
</body>
</html>